/*LAYOUT*/
.main-container {
  display: flex;
  width: 1200px;
}
/*GENERAL*/
ul {
  list-style: none;
}
.clear {
  clear: both;
}
h1,
h2 {
  text-transform: uppercase;
}
/*ASIDE*/
aside {
  background-color: #647087;
  width: 50%;
  margin-right: 3%;
}
aside * {
  color: white;
}
aside h2 {
  letter-spacing: 5px;
}
aside section h2:first-child {
  border-bottom: 2px solid white;
}
#profile-pic img {
  border-radius: 50%;
}
/*MAIN*/
main section > h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.hero {
  background-color: #edc0af;
  box-shadow: 2px 2px 40px 1px #647087 inset;
  padding: 10% 0;
  text-align: center;
}
.hero h2 {
  color: white;
  border-top-style: 2px solid white;
  letter-spacing: 10px;
}
.hero h1 {
  letter-spacing: 10px;
}
.about-me p {
  line-height: 2em;
  background-color: #f7ddc3;
  padding: 5px;
}
article h3,
article h4 {
  font-weight: bold;
}
article ul {
  list-style: square;
}

/*References*/
.references {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7ddc3;
}
.references article {
  width: 50%;
  text-align: center;
}

/*DL*/
dt,
dd {
  line-height: 1.5em;
  border-top: 1px solid white;
}
/* dt {
  font-weight: bolder;
  clear: left;
  width: 30%;
  float: left;
  border-top: 1px solid white;
}
dd {
  clear: right;
  width: 50%;
  float: left;
  margin: 0;
  border: top 1px solid white;
} */
dt:last-of-type,
dd:last-of-type {
  border-bottom: 1px solid white;
}
dl {
  display: flex;
  flex-wrap: wrap;
}
dt,
dd {
  flex-basis: 40%;
  margin: 0;
}
dt {
  font-weight: bolder;
}
.fb::before {
  font-family:"Font Awesome 5 free" ;
  font-weight: 900;
  content: "\<i class="fi-xnsuxl-github"></i>";
}
.social-item::before {
  padding-right: 15px;
}
